name: Publish to Maven Central

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  publish_central:
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: gradle

      - name: Grant execute permission for gradlew
        run: chmod +x gradlew

      - name: Build + stage Maven artifacts (local folder)
        run: |
          ./gradlew :screenutil-compose:clean \
                    :screenutil-compose:assembleRelease \
                    :screenutil-compose:publishReleasePublicationToStagingRepository

      - name: Publish to Maven Central (JReleaser)
        env:
          JRELEASER_MAVENCENTRAL_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          JRELEASER_MAVENCENTRAL_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
          JRELEASER_MAVENCENTRAL_APP_USERNAME: ${{ secrets.OSSRH_USERNAME }}
          JRELEASER_MAVENCENTRAL_APP_PASSWORD: ${{ secrets.OSSRH_PASSWORD }}
          JRELEASER_GPG_SECRET_KEY: ${{ secrets.SIGNING_KEY }}
          JRELEASER_GPG_PUBLIC_KEY: ${{ secrets.PUBLIC_SIGNING_KEY }}
          JRELEASER_GPG_PASSPHRASE: ${{ secrets.SIGNING_PASSWORD }}
          # Optional if release.github.enabled=true:
          JRELEASER_GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
        run: ./gradlew jreleaserFullRelease --stacktrace